# Secretos y configuración local
.env
.env.*
*.key
*.pem
credenciales*

# Dependencias y compilados
node_modules/
dist/
build/

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/
*.swp

# Temporales
*.log
*.tmp
*.bak
